<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty app was built by <a target="_blank" href="https://brendanhynes.netlify.com/">Brendan Hynes</a>, a coding student developing his first web app through the University of Arizona Coding Bootcamp.
  </p>
  <br />
  <p>
    He is hoping to learn coding and programming skills relevant to mathematics and statistics, and the database tools used in this web app are a great step in achieving those goals.
  </p>
  <p>
    If you want to learn how to code too - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'brendan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Brendan Hynes</h2>
      <br />
      <p>
        Brendan Hynes is a novice coding student who recently gaduated with his Bachelor's Degree in Mathematics from Northern Arizona University. He is looking to develop his coding and programming skills for application in the mathematics and statistics professional field. This web app has been a great introduction to the database tools he will be using as a professional mathematician.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />